<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>377005499010-8mambstp0p90nkas6nlgmdnk3uqkh4m3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5ZKC2dZcFqNH9l2Uogpn47WGkCLHKyes</string>
	<key>GCM_SENDER_ID</key>
	<string>377005499010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renit.app</string>
	<key>PROJECT_ID</key>
	<string>renit-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>renit-uat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377005499010:ios:0d9b22bd6d32787d258a9b</string>
</dict>
</plist>
